@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.tester{
  border: 1px solid red;
}

.container-custom {
  width: 100%;
}
@media (min-width: 640px) {
  .container-custom {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-custom {
    max-width: 80vw;
  }
}
@media (min-width: 1024px) {
  .container-custom {
    max-width: 70vw;
  }
}
@media (min-width: 1280px) {
  .container-custom {
    max-width: 70vw;
  }
}

.h-80 {
  height: 80vh;
}

.h-50 {
  height: 50vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
